html,body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	color:white;
}
.game{
	clear:both;
	width:calc(100vw - 40px);
	height:calc(100vh - 40px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background:green;
}
.table{
	flex:1;
	position:relative;
	text-align: center;
}
.hand{
	margin:auto;
	text-align: center;
	display: inline-block;
	padding-bottom: 50px;
	padding-top:50px;
	overflow: hidden;
}
.player{
	height:200;
	width:200px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.player.active h1{
	color:yellow;
}

img.card{
	position: relative;
	width:150px;
}
img.card.active{
	top:-30px;
}
.hand .card{
	margin-left: -100px;
}
.hand .card:first-child{
	margin-left:0px;
}
h2{
	color:white;
	width:100%;
	text-align:center;
}

.match-control {
	max-width: 100px;
}